:root {
    --neon-green: #00ff00;
    --dark-bg: #000000;
    --alert-red: #ff0000;
}

body {
    background-color: var(--dark-bg);
    color: var(--neon-green);
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 20px;
    height: 100vh;
    overflow: hidden;
    -webkit-user-select: none;
    -webkit-touch-callout: none; /* Estilo agente: impede salvar imagens ou textos */
}

/* Efeito de Scan de TV antiga */
#scan-line {
    position: fixed;
    top: 0; left: 0; width: 100%; height: 2px;
    background: rgba(0, 255, 0, 0.1);
    opacity: 0.5;
    z-index: 1000;
    animation: scan 4s linear infinite;
}

header {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--neon-green);
    padding-bottom: 10px;
}

#terminal-output {
    height: 150px;
    font-size: 14px;
    overflow-y: auto;
    margin-bottom: 20px;
    border: 1px solid #111;
    padding: 10px;
}

.action-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.btn-tactical {
    background: transparent;
    border: 1px solid var(--neon-green);
    color: var(--neon-green);
    padding: 15px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}

.btn-emergency {
    background: var(--alert-red);
    color: white;
    border: none;
    padding: 20px;
    font-weight: bold;
    margin-top: 20px;
}

@keyframes scan {
    0% { top: 0; }
    100% { top: 100%; }
}
